<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<head>
<title>Happy Kids</title>
<!--meta tags -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Itim">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Della Respira">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spirax">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
<div class="banner-w3">

				<div class="container">
					<div class="w3-agile-logo">
	<div class=" head-wl">
		<div class="headder-w3">
		<h1><a  href="/simple_pages/index">HAPPY KIDS</a></h1>
		</div>
		
		<div class="clearfix"> </div>
		</div>
	</div>
		<!-- header -->
		<header>
	<div class="header-w3">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto menu-list">
                            <li class="nav-item active">
                            <a class="nav-link"  href="/simple_pages/index">Home </a>
                            </li>
	                        <li><a href="#about" class=" scroll">About</a></li>
<!--							<li><a href="#services" class=" scroll">Services</a></li>-->
							<li><a href="#team" class=" scroll">Team</a></li>
							<li><a href="#gallery" class=" scroll">Gallery</a></li>
							<li><a href="#news" class=" scroll">Blog</a></li>
							<li><a href="#contact" class=" scroll">Contact</a></li>
    </ul>

  </div>
</nav>
<div class="clearfix"> </div>
</div>
		</header>
	<!-- //header -->
<!-- banner-text -->

	<div class="w3layouts-text">
					
				
<!--					<p>Lorem Ipsum </p>-->
					<h2> <span>Education</span> For <span>Kids </span></h2>
					
					
				</div>
				<!-- modal -->
		<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header"> 
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
						<h4 class="modal-title">Feature</h4>
					</div> 
					<div class="modal-body">
						<div class="agileits-w3layouts-info">
							<img src="images/read%20more.jpg" alt="" />
							<p>Create an interactive learning environment through new electronic technologies and diversity in sources of information and experience, Minimize the boring routine education system, Save the students time and effort  and Evaluating the students level which helps improving his owns skills</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //modal -->
				</div>
			</div>  
		<!-- //banner-text end -->
	
<!--	2 button -->
                     <div class="container">
                         <div class="text-center">
                        <a href="/simple_pages/learning"><button type="button" class="btn btn-primary btn-lg">LEARNING</button></a> 
                       <a href="/simple_pages/color"><button type="button" class="btn btn-success btn-lg">COLOR</button></a>  
                     
<!--
                      <div class="col-md-6 col-sm-6 col-xs-6">  <div class="learning-button">
                            <a href="#" data-toggle="modal" data-target="#myModal">LEARNING</a>
                        </div> </div>

                        <div class="col-md-6 col-sm-6 col-xs-6"> <div class="color-button">
                            <a href="#" data-toggle="modal" data-target="#myModal">COLOR</a>
                        </div> </div>
-->
                        
                        </div>
                    </div>
<!--    2 button-->

<div class="navline">
	<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/simple_pages/index">Home</a></li>
    <li class="breadcrumb-item"><a href="/simple_pages/learning">Learning</a></li>
    <li class="breadcrumb-item"><a href="/simple_pages/english">English</a></li>
     <li class="breadcrumb-item"><a href="/simple_pages/worde">Word</a></li>
   <li class="breadcrumb-item active" aria-current="page">Fruits</li>
  </ol>
</nav>
</div>
	
	
<!--	سطر-->
<div class="hr1">
   <div class="container">
       <div class="text-center">
   
     <%= image_tag("line4.jpg", class: "img-fluid"  ) %>
    
        </div>
    </div>
</div>

 <div class="learnback">        
              <div class="container">
       <div class="text-center">
                           
                           <div class="all">
                           
                            <div class="row">
                             <h3>The Fruits</h3>
                              
                              
                              <div class="animalimg5">
                              <div class="col-lg-6 col-md-6 col-sm-6">
                              <%= image_tag("apple.jpg", width:"250" , height:"200", class: "img-fluid" ) %>
                               </div>
                               
                               <div class="col-lg-6 col-md-6 col-sm-6 textcat">
                               <h4>Apple</h4>
                               <button type="button" class="btn btn-info">Read</button>
                               
                                </div>   
                               </div> 
                              
                              
                              
                            
                               </div>
                               
                               
                               
                                 <div class="row"> 
                              <div class="animalimg2">
                              <div class="col-lg-6 col-md-6 col-sm-6">
                              <%= image_tag("banana.png", width:"250" , height:"200", class: "img-fluid" ) %>
                               </div>
                               
                               <div class="col-lg-6 col-md-6 col-sm-6 textcat">
                               <h4>Banana</h4>
                               <button type="button" class="btn btn-info">Read</button>
                               
                                </div>   
                               </div> 
                                </div>
                               
                               
                               <div class="row">
                               <div class="animalimg2">
                              <div class="col-lg-6 col-md-6 col-sm-6">
                              	<%= image_tag("strawberry.PNG", width:"250" , height:"200", class: "img-fluid" ) %>
                            
                               </div>
                               
                               <div class="col-lg-6 col-md-6 col-sm-6 textcat">
                               <h4>Strawberry</h4>
                               <button type="button" class="btn btn-info">Read</button>
                               
                                </div>   
                               </div> 
                               </div>
                               
                               
                                
                               <div class="row">
                               <div class="animalimg3">
                              <div class="col-lg-6 col-md-6 col-sm-6">
                              	<%= image_tag("watermelon.PNG", width:"250" , height:"200", class: "img-fluid" ) %>
                              
                               </div>
                               
                               <div class="col-lg-6 col-md-6 col-sm-6 textcat">
                               <h4>Watermelon</h4>
                               <button type="button" class="btn btn-info">Read</button>
                               
                                </div>   
                               </div> 
                               </div>
                               
                               
                                
                               <div class="row">
                               <div class="animalimg4">
                              <div class="col-lg-6 col-md-6 col-sm-6">
                              <%= image_tag("grip.PNG", width:"250" , height:"200", class: "img-fluid" ) %>
                               </div>
                               
                               <div class="col-lg-6 col-md-6 col-sm-6 textcat">
                               <h4>Grip</h4>
                               <button type="button" class="btn btn-info">Read</button>
                               
                                </div>   
                               </div> 
                               </div>
                               
                               
                                 <div class="row">
                               <div class="animalimg6">
                              <div class="col-lg-6 col-md-6 col-sm-6">
                              <%= image_tag("orange.jpg", width:"250" , height:"200", class: "img-fluid" ) %>
                               </div>
                               
                               <div class="col-lg-6 col-md-6 col-sm-6 textcat">
                               <h4>Orange</h4>
                               <button type="button" class="btn btn-info">Read</button>
                               
                                </div>   
                               </div> 
                               </div>
                               
                               
                                 <div class="row">
                               <div class="animalimg7">
                              <div class="col-lg-6 col-md-6 col-sm-6">
                              	<%= image_tag("cherries.png", width:"250" , height:"200", class: "img-fluid" ) %>
                              
                               </div>
                               
                               <div class="col-lg-6 col-md-6 col-sm-6 textcat">
                               <h4>Cherries</h4>
                               <button type="button" class="btn btn-info">Read</button>
                               
                                </div>   
                               </div> 
                               </div>
                               
                                  
                               
                               
                         </div>    
                               
             
                             
                            
        </div>

         </div>       


        	<div class="imgl">
            <div class="container">
               <div class="text-center">
                 <div class="row">
                 
               
                 
             <%= image_tag("backlearn.jpg", class: "img-fluid"  ) %>
               
                       
                      
                       </div>
                </div>
                </div>     		
                			
                				
                					
              </div>  						
                							
                								
                									
                										
                											
                												
                													
                														
                															
                																
            <div class="footerlearn">    																		

				<footer>
				<p> HAPPY KIDS &copy; 2018 . All Copy Rights Reserved </p>
	</footer>
	
	</div>
	
	
	
		<script type='text/javascript' src='js/jquery-2.2.3.min.js'></script>
		<!-- //js -->

	<script src="js/bootstrap.min.js"></script>	
			                                
				<!-- FlexSlider -->
				  <script defer src="js/jquery.flexslider.js"></script>
				  <script type="text/javascript">
					$(function(){
					 
					});
					$(window).load(function(){
					  $('.flexslider').flexslider({
						animation: "slide",
						start: function(slider){
						  $('body').removeClass('loading');
						}
					  });
					});
				  </script>
		<!-- FlexSlider -->
		

				<!-- Portfolio -->
			<script src="js/main.js"></script>
		<!-- //Portfolio -->
			<!-- start-smoth-scrolling -->
			<script type="text/javascript" src="js/move-top.js"></script>
			<script type="text/javascript" src="js/easing.js"></script>
			<script type="text/javascript">
				jQuery(document).ready(function($) {
					$(".scroll").click(function(event){		
						event.preventDefault();
						$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
					});
				});
			</script>
		<!-- start-smoth-scrolling -->
	
		<!-- for-bottom-to-top smooth scrolling -->
			<script type="text/javascript">
				$(document).ready(function() {
			
					var defaults = {
					containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
					};
											
				$().UItoTop({ easingType: 'easeOutQuart' });
				});
			</script>
		
		<!-- //for-bottom-to-top smooth scrolling -->


</body>
</html> 