<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<head>
<title>Happy Kids</title>
<!--meta tags -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Itim">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Della Respira">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spirax">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <style type="text/css">
        body{
      /*background-color: #7b7b7b17;*/

        /*text-align: center; */
      /*background-image: url('/assets/546301.jpg');     
      background-repeat: no-repeat;
      background-position: center; 
          background-color: #fff !important;*/
      /*background: #ffffff url("/assets/546301.jpg")  no-repeat fixed center !important;*/
      
    }
    #alphabet-container{

    
      width: 850px;
      display: block;
      margin:10px auto;
      border: 3px solid #ccc7c7;
      border-radius: 10px;
      height: 550px;
        position: relative;
        background-color: white;
        opacity: .9;

    }
    #alphabet-container #view{
      position: relative;
      height: 55%;
      /*background-color: rgba(255, 0, 0, 0.6);*/
      border-bottom: 3px solid #ccc7c7;
    }
    #alphabet-container #alphabet{
      position: relative;
      height: 45%;
      padding: 3%;      
      box-sizing: border-box;
      background-color: rgba(255, 0, 0, 0.1);     
    }
    #alphabet-container .alphabet-block{
      text-align: center;
      font-size: 30pt;
    }
    #alphabet-container .alphabet-block span{
      display:  inline-block; 
      width:  55px;
      height: 55px;
      line-height: 55px;
      border: 1px solid red;
      border-radius: 55px;
      text-align: center;
      margin: 5px;
      cursor: pointer;
    }
    #alphabet-container .alphabet-block span:hover{
      background-color: rgba(255, 0, 0, 0.8);
    }
    #alphabet-container .alphabet-block span.selected{
      background-color: rgb(255, 168, 168);
    }
    #alphabet-container .view-block-letter, #alphabet-container .view-block-image, #alphabet-container .view-block-word{
      display: inline-block;
      width:  31%;
      margin: 1%;
      height: 95%;
      box-sizing: border-box;
      /*border: 1px solid red;*/
      float:  right;
    }

    #alphabet-container .view-block-word {
      text-align: center; 
      background-image: url('/assets/if_cloud_370088.png');      
      background-repeat: no-repeat;
      background-position: center;      

    }
    #alphabet-container .view-block-letter span, #alphabet-container .view-block-word span {
      font-size:  60px;
      display: block; 
      margin:148px auto 0;          
    }
    .view-block-word span.x::first-letter{
      color: red;
    }
    #alphabet-container .view-block-letter span{
      width: 50px;
    }

  </style>
</head>
<body>
<div class="banner-w3">

        <div class="container">
          <div class="w3-agile-logo">
  <div class=" head-wl">
    <div class="headder-w3">
    <h1><a  href="/simple_pages/index">HAPPY KIDS</a></h1>
    </div>
   
    <div class="clearfix"> </div>
    </div>
  </div>
    <!-- header -->
    <header>
  <div class="header-w3">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto menu-list">
                            <li class="nav-item active">
                            <a class="nav-link"  href="/simple_pages/index">Home </a>
                            </li>
                          <li><a href="#about" class=" scroll">About</a></li>
<!--              <li><a href="#services" class=" scroll">Services</a></li>-->
              <li><a href="#team" class=" scroll">Team</a></li>
              <li><a href="#gallery" class=" scroll">Gallery</a></li>
              <li><a href="#news" class=" scroll">Blog</a></li>
              <li><a href="#contact" class=" scroll">Contact</a></li>
    </ul>

  </div>
</nav>
<div class="clearfix"> </div>
</div>
    </header>
  <!-- //header -->
<!-- banner-text -->

  <div class="w3layouts-text">
          
        
<!--          <p>Lorem Ipsum </p>-->
          <h2> <span>Education</span> For <span>Kids </span></h2>
          
          
        </div>
        <!-- modal -->
    <div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header"> 
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>            
            <h4 class="modal-title">Feature</h4>
          </div> 
          <div class="modal-body">
            <div class="agileits-w3layouts-info">
              <img src="images/read%20more.jpg" alt="" />
              <p>Create an interactive learning environment through new electronic technologies and diversity in sources of information and experience, Minimize the boring routine education system, Save the students time and effort  and Evaluating the students level which helps improving his owns skills</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //modal -->
        </div>
      </div>  
    <!-- //banner-text end -->
  
<!--  2 button -->
                     <div class="container">
                         <div class="text-center">
                        <a href="/simple_pages/learning"><button type="button" class="btn btn-primary btn-lg">LEARNING</button></a> 
                       <a href="/simple_pages/color"><button type="button" class="btn btn-success btn-lg">COLOR</button></a>  
                     
<!--
                      <div class="col-md-6 col-sm-6 col-xs-6">  <div class="learning-button">
                            <a href="#" data-toggle="modal" data-target="#myModal">LEARNING</a>
                        </div> </div>

                        <div class="col-md-6 col-sm-6 col-xs-6"> <div class="color-button">
                            <a href="#" data-toggle="modal" data-target="#myModal">COLOR</a>
                        </div> </div>
-->
                        
                        </div>
                    </div>
<!--    2 button-->

<div class="navline">
  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/simple_pages/index">Home</a></li>
    <li class="breadcrumb-item"><a href="/simple_pages/learning">Learning</a></li>
    <li class="breadcrumb-item"><a href="/simple_pages/english">English</a></li>
    <li class="breadcrumb-item active" aria-current="page">Letter</li>
  </ol>
</nav>
</div>
  
  
<!--  سطر-->
<div class="hr1">
   <div class="container">
       <div class="text-center">
   
    <%= image_tag("line4.jpg", class: "img-fluid"  ) %>
    
        </div>
    </div>
</div>

   <div class="learnback">        
              <div class="container">
       <div class="text-center">
                            <div class="row">
                             <h3>The Letter</h3>
                             <div id="alphabet-container">
    <div id="view">
      <div class="view-block-letter">
        <span>A</span>
      </div>
      <div class="view-block-image"></div>
      <div class="view-block-word">
        <span></span>
      </div>
    </div>
    <div id="alphabet">
      <div class="alphabet-block" id="block1"></div>
      <div class="alphabet-block" id="block2"></div>
      <div class="alphabet-block" id="block3"></div>
    </div>
  </div>
  
                             <div class="video">
                                 <div  class="col-lg-12 col-md-12 col-sm-12">
                                 
                                 <div class="embed-responsive embed-responsive-16by9" >
                                 <iframe class="embed-responsive-item" width="950" height="450" src="https://www.youtube.com/embed/hq3yfQnllfQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                     </div>
                                     </div>
                             </div>
                            
                             
                            </div>
        </div>
        </div>

         </div>       
                
          
            
               
                <!--<div class="letterA">                
                      <div class="container">
                       <div class="text-center">

                            <div class="row">
                                    
                                
                                                
                                
                                <div class="col-lg-4 col-md-4 col-sm-6 "> 
                                         
                                <div class="row"> 
                                
                                 <div class="img-word img-responsive"> 
                                     <img src="images/letter/%D8%AA.gif" width="350" height="200" class="img-fluid" alt=""> </div>
                                  </div>
                              
                               <div class="row">
                                    <p>ت  تمساح</p>
                                  </div>
                                  
                                </div>
                                
                                
                                <div class="col-lg-4 col-md-4 col-sm-6 "> 
                                         
                                <div class="row"> 
                                
                                 <div class="img-word img-responsive">
                                   <img src="images/letter/%D8%A8.gif" width="350" height="200" class="img-fluid" alt="">
                                </div> 
                             
                                  </div>
                              
                               <div class="row">
                                    <p>ب  بقرة</p>
                                  </div>
                                  
                                </div>    
                                    
                                    
                                <div class="col-lg-4 col-md-4 col-sm-6 "> 
                                         
                                <div class="row"> 
                                
                                 <div class="img-word img-responsive"> 
                                     <img src="images/letter/%D8%A3.gif" width="350" height="200" class="img-fluid" alt=""> </div>
                                  </div>
                              
                               <div class="row">
                                    <p>أ  أسد</p>
                                  </div>
                                  
                                  
                                </div>
                           </div>
                        </div>
                       </div>
                </div>
                   
                     
                
                   
<!--
        <div class="letter">                
      <div class="container">
       <div class="text-center">
         
            <div class="row">
               
               
               
               
                 
                <div class="col-lg-4 col-md-4 col-sm-6 text text1">
                <h5>g</h5>
                </div>
                
               
               <div class="imgletter">
                <div class="col-lg-4 col-md-4 col-sm-6 ">
                  <img class="img-fluid rounded-circle" src="http://placehold.it/250x250" alt="">
                   
                </div>
                </div>
                
                
                <div class="col-lg-4 col-md-4 col-sm-6 text text2">
                <h4>lorem</h4>
                
                </div>
               
               
               
                
                
            </div>
         
         
           <div class="row">
          
          
          
          <div class="col-lg-6 col-md-6 col-sm-12">
          <button type="button" class="btn btn-danger">س</button>
          <button type="button" class="btn btn-danger">ز</button>
          <button type="button" class="btn btn-danger">ر</button>
          <button type="button" class="btn btn-danger">ذ</button>
          <button type="button" class="btn btn-danger">د</button>
          <button type="button" class="btn btn-danger">خ</button>
               </div>
            
            
            <div class="col-lg-6 col-md-6 col-sm-12"> 
          <button type="button" class="btn btn-danger">ح</button>
          <button type="button" class="btn btn-danger">ج</button>
          <button type="button" class="btn btn-danger">ث</button>
          <button type="button" class="btn btn-danger">ت</button>
          <button type="button" class="btn btn-danger">ب</button>
          <button type="button" class="btn btn-danger">أ</button>
                    </div>

          
            </div>
            
         
         
   
          
          
          
           <div class="row">
          
          <div class="col-lg-6 col-md-6 col-sm-12">
          <button type="button" class="btn btn-danger">م</button>
          <button type="button" class="btn btn-danger">ل</button>
          <button type="button" class="btn btn-danger">ك</button>
          <button type="button" class="btn btn-danger">ق</button>
          <button type="button" class="btn btn-danger">ف</button>
          <button type="button" class="btn btn-danger">غ</button>
          </div>
             
          
          <div class="col-lg-6 col-md-6 col-sm-12">
          <button type="button" class="btn btn-danger">ع</button>
          <button type="button" class="btn btn-danger">ظ</button>
          <button type="button" class="btn btn-danger">ط</button>
          <button type="button" class="btn btn-danger">ض</button>
          <button type="button" class="btn btn-danger">ص</button>
          <button type="button" class="btn btn-danger">ش</button>
          </div> 
           </div>
          
              
              
                      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
          <button type="button" class="btn btn-danger">ي</button>
          <button type="button" class="btn btn-danger">و</button>
          <button type="button" class="btn btn-danger">ه</button>
          <button type="button" class="btn btn-danger">ن</button>
               </div></div>
          
             
          </div>
            </div>
                          
              </div>                
-->
                                  
                                      
                                              
                      
                          
                                  
        
          <div class="imgl">
            <div class="container">
               <div class="text-center">
                 <div class="row">
                 
               
                 
             <%= image_tag("backlearn.jpg", class: "img-fluid"  ) %>
               
                       
                      
                       </div>
                </div>
                </div>        
                      
                        
                          
              </div>              
                              
                                
                                  
                                    
                                      
                                        
                                          
                                            
                                              
                                                
            <div class="footerlearn">                                       

        <footer>
        <p> HAPPY KIDS &copy; 2018 . All Copy Rights Reserved </p>
  </footer>
  
  </div>
  
  
  
    <script type='text/javascript' src='js/jquery-2.2.3.min.js'></script>
    <!-- //js -->

  <script src="js/bootstrap.min.js"></script> 
                                      
        <!-- FlexSlider -->
          <script defer src="js/jquery.flexslider.js"></script>
          <script type="text/javascript">
          $(function(){
           
          });
          $(window).load(function(){
            $('.flexslider').flexslider({
            animation: "slide",
            start: function(slider){
              $('body').removeClass('loading');
            }
            });
          });
          </script>
    <!-- FlexSlider -->
    

        <!-- Portfolio -->
      <script src="js/main.js"></script>
    <!-- //Portfolio -->
      <!-- start-smoth-scrolling -->
      <script type="text/javascript" src="js/move-top.js"></script>
      <script type="text/javascript" src="js/easing.js"></script>
      <script type="text/javascript">
        jQuery(document).ready(function($) {
          $(".scroll").click(function(event){   
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
          });
        });
      </script>
    <!-- start-smoth-scrolling -->
  
    <!-- for-bottom-to-top smooth scrolling -->
      <script type="text/javascript">
        $(document).ready(function() {
      
          var defaults = {
          containerID: 'toTop', // fading element id
          containerHoverID: 'toTopHover', // fading element hover id
          scrollSpeed: 1200,
          easingType: 'linear' 
          };
                      
        $().UItoTop({ easingType: 'easeOutQuart' });
        });
      </script>
    
    <!-- //for-bottom-to-top smooth scrolling -->
<script>
    var alphabets = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"];
    var words =  ["Apple", "Ball", "Cat", "Dog", "Egg ", "Fish", "Giraffe", "Hat", "Insect", "Juice", "King", "Lion", "Monkey", "Nut", "Orange", "Pen", "Queen", "Rabbit", "Star", "Train", "Umbrella", "Van", "Watch", "Box", "Yellow", "Zebra"];
    $(function(){
      
      displayCharacters($('#block1'), 8, 0);
      displayCharacters($('#block2'), 9, 8);
      displayCharacters($('#block3'), 8, 18);

      $('.alphabet-block span:eq(0)').trigger('click');

    });
    function displayCharacters($block, length, startIndex){
      for(var i = 0; i < length; i++){
        var alphabetIndex = startIndex + i;
        $el = $('<span></span>');
        $el.attr('data-alphabet-index', alphabetIndex);
        $el.text(alphabets[alphabetIndex]);
        $block.append($el);
      } 
    }
    $(document).on('click', '.alphabet-block span', function(){
      var $this = $(this);
      var letterIndex = $this.data('alphabet-index');
      var letter = alphabets[letterIndex];
      
      $('.view-block-letter span').text(letter);      

      var word = words[letterIndex];

      $('.view-block-word span').text(word);

      var letterImageUrl = '/assets/en-'+letterIndex+ '.png'; 
      var $letterImage = $('<img></img>');
      $letterImage.attr('src', letterImageUrl).hide();
      $('.view-block-image').empty().append($letterImage);
      $letterImage.fadeIn('slow');

      $('.selected').removeClass('selected');
      $this.addClass('selected');

    });

  </script>

</body>
</html> 