<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<head>
<title>Happy Kids</title>
<!--meta tags -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Itim">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Della Respira">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spirax">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
<div class="banner-w3">

				<div class="container">
					<div class="w3-agile-logo">
	<div class=" head-wl">
		<div class="headder-w3">
		<h1><a  href="/simple_pages/index">HAPPY KIDS</a></h1>
		</div>
		
		<div class="clearfix"> </div>
		</div>
	</div>
		<!-- header -->
		<header>
	<div class="header-w3">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto menu-list">
                            <li class="nav-item active">
                            <a class="nav-link"  href="/simple_pages/index">Home </a>
                            </li>
	                        <li><a href="#about" class=" scroll">About</a></li>
<!--							<li><a href="#services" class=" scroll">Services</a></li>-->
							<li><a href="#team" class=" scroll">Team</a></li>
							<li><a href="#gallery" class=" scroll">Gallery</a></li>
							<li><a href="#news" class=" scroll">Blog</a></li>
							<li><a href="#contact" class=" scroll">Contact</a></li>
    </ul>

  </div>
</nav>
<div class="clearfix"> </div>
</div>
		</header>
	<!-- //header -->
<!-- banner-text -->

	<div class="w3layouts-text">
					
				
<!--					<p>Lorem Ipsum </p>-->
					<h2> <span>Education</span> For <span>Kids </span></h2>
					
					
				</div>
				<!-- modal -->
		<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header"> 
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
						<h4 class="modal-title">Feature</h4>
					</div> 
					<div class="modal-body">
						<div class="agileits-w3layouts-info">
							<img src="images/read%20more.jpg" alt="" />
							<p>Create an interactive learning environment through new electronic technologies and diversity in sources of information and experience, Minimize the boring routine education system, Save the students time and effort  and Evaluating the students level which helps improving his owns skills</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //modal -->
				</div>
			</div>  
		<!-- //banner-text end -->
	
<!--	2 button -->
                     <div class="container">
                         <div class="text-center">
                        <a href="/simple_pages/learning"><button type="button" class="btn btn-primary btn-lg">LEARNING</button></a> 
                       <a href="/simple_pages/color"><button type="button" class="btn btn-success btn-lg">COLOR</button></a>  
                     
<!--
                      <div class="col-md-6 col-sm-6 col-xs-6">  <div class="learning-button">
                            <a href="#" data-toggle="modal" data-target="#myModal">LEARNING</a>
                        </div> </div>

                        <div class="col-md-6 col-sm-6 col-xs-6"> <div class="color-button">
                            <a href="#" data-toggle="modal" data-target="#myModal">COLOR</a>
                        </div> </div>
-->
                        
                        </div>
                    </div>
<!--    2 button-->

<div class="navline">
	<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/simple_pages/index">Home</a></li>
       <li class="breadcrumb-item"><a href="/simple_pages/learning">Learning</a></li>
       <li class="breadcrumb-item"><a href="/simple_pages/math">Math</a></li>
    <li class="breadcrumb-item active" aria-current="page">Test Math</li>
  </ol>
</nav>
</div>
	
	
<!--	سطر-->
<div class="hr1">
   <div class="container">
       <div class="text-center">
   
     <%= image_tag("line4.jpg", class: "img-fluid"  ) %>
    
        </div>
    </div>
</div>

     <div class="learnback">        
              <div class="container">
       <div class="text-center">
                           
                           <div class="testmath">
                           
                            <div class="row">
                             <h3>Test Math</h3>
                              
                              
                           
                              
                              <div class="Q1">
                              <div class="col-lg-6 col-md-6 col-sm-6">
                              
                                 <h4>How many balls are there?</h4>
                                 
                                 
                                <div class="row">  
                              <%= image_tag("balls.PNG", width:350, height:200, class: "img-fluid"  ) %>
                                  
                                  </div>
                              
                               <div class="row">
                             <button type="button" class="btn btn-primary"
                             onclick="checkAnswer('1', '5')">1</button>
                             <button type="button" class="btn btn-primary"
                             onclick="checkAnswer('7', '5')">7</button>
                             <button type="button" class="btn btn-primary"
                             onclick="checkAnswer('5', '5')">5</button>
                             <button type="button" class="btn btn-primary"
                             onclick="checkAnswer('2', '5')">2</button>
                                  </div>
                                 
                                      </div>
                               
                               <div class="col-lg-6 col-md-6 col-sm-6">
                               <h4>How many cupcackes are there?</h4>
                               
                                <div class="row"> 
                                <%= image_tag("cupcacks.PNG", width:350, height:200, class: "img-fluid"  ) %>
                                 
                           
                                  </div>
                              
                               <div class="row">
                             <button type="button" id="numcacke" class="btn btn-primary"
                             onclick="checkAnswer('4', '4')">4</button>
                             <button type="button" id="numcacke" class="btn btn-primary"
                             onclick="checkAnswer('8', '4')">8</button>
                             <button type="button" id="numcacke" class="btn btn-primary"
                             onclick="checkAnswer('10', '4')">10</button>
                             <button type="button" id="numcacke" class="btn btn-primary"
                             onclick="checkAnswer('2', '4')">2</button>
                                  </div>
                               
                               
                                </div>
                                
                                         
                               </div> 
                              
                              
                              
                              
                              
                            
                               </div>
                               
                               
                               
                               
                               <div class="row">
                                   
                                       <div class="Q1">
                              <div class="col-lg-6 col-md-6 col-sm-6">
                              
                                 <h4>How many lions are there?</h4>
                                 
                                 
                                <div class="row">  
                              <%= image_tag("lions.PNG", width:350, height:200, class: "img-fluid"  ) %>
                                  </div>
                                 
                              
                               <div class="row">
                             <button type="button" class="btn btn-primary"
                             onclick="checkAnswer('3', '8')">3</button>
                             <button type="button" class="btn btn-primary"
                             onclick="checkAnswer('10', '8')">10</button>
                             <button type="button" class="btn btn-primary"
                             onclick="checkAnswer('9', '8')">9</button>
                             <button type="button" class="btn btn-primary"
                             onclick="checkAnswer('8', '8')">8</button>
                                  </div>
                                 
                                      </div>
                               
                               <div class="col-lg-6 col-md-6 col-sm-6">
                               <h4>How many bananas are there?</h4>
                               
                                <div class="row">  
                             <%= image_tag("bananas.PNG", width:370, height:200, class: "img-fluid"  ) %>
                                  
                                  </div>
                              
                               <div class="row">
                             <button type="button" id="numcacke" class="btn btn-primary"
                             onclick="checkAnswer('8', '9')">8</button>
                             <button type="button" id="numcacke" class="btn btn-primary"
                             onclick="checkAnswer('6', '9')">6</button>
                             <button type="button" id="numcacke" class="btn btn-primary"
                             onclick="checkAnswer('9', '9')">9</button>
                             <button type="button" id="numcacke" class="btn btn-primary"
                             onclick="checkAnswer('4', '9')">4</button>
                                  </div>
                               
                               
                                </div>
                                
                                         
                               </div> 
                               </div>
                               
                               
<!--                               test2                       -->
                               
                               
                                      
                                    <div class="row">
                                   
                                       <div class="Q1">
                              <div class="col-lg-6 col-md-6 col-sm-6">
                              
                                 
                                 
                                 
                                <div class="row">  
                              <%= image_tag("plus2.PNG", width:350, height:200, class: "img-fluid"  ) %>
                                  
                                  </div>
                              
                               <div class="row">
                             <button type="button" class="btn btn-primary"
                             onclick="checkAnswer('3', '4')">3</button>
                             <button type="button" class="btn btn-primary"
                             onclick="checkAnswer('4', '4')">4</button>
                             <button type="button" class="btn btn-primary"
                             onclick="checkAnswer('5', '4')">5</button>
                             <button type="button" class="btn btn-primary"
                             onclick="checkAnswer('2', '4')">2</button>
                                  </div>
                                 
                                      </div>
                               
                               <div class="col-lg-6 col-md-6 col-sm-6">
                              
                               
                                <div class="row">  
                              <%= image_tag("plus3.PNG", width:370, height:200, class: "img-fluid"  ) %>
                                  
                                  </div>
                              
                               <div class="row">
                             <button type="button" id="numplus" class="btn btn-primary"
                             onclick="checkAnswer('4', '5')">4</button>
                             <button type="button" id="numplus" class="btn btn-primary"
                             onclick="checkAnswer('6', '5')">6</button>
                             <button type="button" id="numplus" class="btn btn-primary"
                             onclick="checkAnswer('1', '5')">1</button>
                             <button type="button" id="numplus" class="btn btn-primary"
                             onclick="checkAnswer('5', '5')">5</button>
                                  </div>
                               
                               
                                </div>
                                
                                         
                               </div> 
                               </div>
                               
                               
                               
                               
                                    <div class="row">
                                   
                                       <div class="Q1">
                              <div class="col-lg-6 col-md-6 col-sm-6">
                              
                                 
                                 
                                 
                                <div class="row">  
                              <%= image_tag("sub1.PNG", width:350, height:200, class: "img-fluid"  ) %>
                                 
                                  </div>
                              
                               <div class="row">
                             <button type="button" class="btn btn-primary"
                             onclick="checkAnswer('2', '2')">2</button>
                             <button type="button" class="btn btn-primary"
                             onclick="checkAnswer('0', '2')">0</button>
                             <button type="button" class="btn btn-primary"
                             onclick="checkAnswer('1', '2')">1</button>
                             <button type="button" class="btn btn-primary"
                             onclick="checkAnswer('3', '2')">3</button>
                                  </div>
                                 
                                      </div>
                               
                               <div class="col-lg-6 col-md-6 col-sm-6">
                              
                               
                                <div class="row">  
                              <%= image_tag("plus4.PNG", width:370, height:200, class: "img-fluid"  ) %>
                                
                                  </div>
                              
                               <div class="row">
                             <button type="button" id="numplus" class="btn btn-primary"
                             onclick="checkAnswer('4', '7')">4</button>
                             <button type="button" id="numplus" class="btn btn-primary"
                             onclick="checkAnswer('6', '7')">6</button>
                             <button type="button" id="numplus" class="btn btn-primary"
                             onclick="checkAnswer('7', '7')">7</button>
                             <button type="button" id="numplus" class="btn btn-primary"
                             onclick="checkAnswer('8', '7')">8</button>
                                  </div>
                               
                               
                                </div>
                                
                                         
                               </div> 
                               </div>
                               
                               
                               
                               
                               
                                      <div class="row">
                                   
                                       <div class="Q1">
                              <div class="col-lg-6 col-md-6 col-sm-6">
                              
                                 
                                 
                                 
                                <div class="row">  
                              <%= image_tag("sub2.PNG", width:350, height:200, class: "img-fluid"  ) %>
                                  
                                  </div>
                              
                               <div class="row">
                             <button type="button" class="btn btn-primary"
                             onclick="checkAnswer('4', '4')">4</button>
                             <button type="button" class="btn btn-primary"
                             onclick="checkAnswer('0', '4')">0</button>
                             <button type="button" class="btn btn-primary"
                             onclick="checkAnswer('5', '4')">5</button>
                             <button type="button" class="btn btn-primary"
                             onclick="checkAnswer('6', '4')">6</button>
                                  </div>
                                 
                                      </div>
                               
                               <div class="col-lg-6 col-md-6 col-sm-6">
                              
                               
                                <div class="row">  
                              <%= image_tag("sub3.PNG", width:370, height:200, class: "img-fluid"  ) %>
                                  
                                  </div>
                              
                               <div class="row">
                             <button type="button" id="numplus" class="btn btn-primary"
                             onclick="checkAnswer('6', '3')">6</button>
                             <button type="button" id="numplus" class="btn btn-primary"
                             onclick="checkAnswer('8', '3')">8</button>
                             <button type="button" id="numplus" class="btn btn-primary"
                             onclick="checkAnswer('4', '3')">4</button>
                             <button type="button" id="numplus" class="btn btn-primary"
                             onclick="checkAnswer('3', '3')">3</button>
                                  </div>
                               
                               
                                </div>
                                
                                         
                               </div> 
                               </div>
                           
                                         
                               </div> 
                               </div>
                               
                               
                               
                               
                               
                               
                               
                               

                               
                               
                                

                               
                               

                               
                                  
                               
                               
                         </div>    
                               
             
                             
                            
        </div>

        
        
           
        <!--        بداية الزر   -->
        
         <div class="buttonend">        
          <div class="container">
            <div class="text-center">
       
             
             <div class="row">
                 <div class="col-lg-12 col-md-12 col-sm-12">

                 
                 
                 <button type="submit" class="btn btn-success">  <a href="https://play.google.com/store/apps/details?id=com.cubicfrog.edukidsroom&hl=ar">أفضل الألعاب التعليمية للأطفال</a>
</button>
                 
                 </div>        
             </div>
             
             
              </div>
            </div>
        </div>
       
        	<div class="imgl">
            <div class="container">
               <div class="text-center">
                 <div class="row">
                 
               
                 
             <%= image_tag("backlearn.jpg", class: "img-fluid"  ) %>
               
                       
                      
                       </div>
                </div>
                </div>     		
                			
                				
                					
              </div>  						
                							
                								
                									
                										
                											
                												
                													
                														
                															
                																
            <div class="footerlearn">    																		

				<footer>
				<p> HAPPY KIDS &copy; 2018 . All Copy Rights Reserved </p>
	</footer>
	
	</div>
	
	
	
		<script type='text/javascript' src='js/jquery-2.2.3.min.js'></script>
		<!-- //js -->

	<script src="js/bootstrap.min.js"></script>	
			                                
				<!-- FlexSlider -->
				  <script defer src="js/jquery.flexslider.js"></script>
				  <script type="text/javascript">
					$(function(){
					 
					});
					$(window).load(function(){
					  $('.flexslider').flexslider({
						animation: "slide",
						start: function(slider){
						  $('body').removeClass('loading');
						}
					  });
					});
				  </script>
		<!-- FlexSlider -->
		

				<!-- Portfolio -->
			<script src="js/main.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
      <script type="text/javascript">
        function checkAnswer(answer, rightAnswer){
           if(answer == rightAnswer){
             swal({
               title: "رائع!",
               text: "",
               icon: "success",
               button: "OK",
             });
           }else{
             swal({
               title: "حاول مرة أخرى!",
               text: "",
               icon: "error",
               button: "OK",
             });
           }
        }
      </script>
		<!-- //Portfolio -->
			<!-- start-smoth-scrolling -->
			<script type="text/javascript" src="js/move-top.js"></script>
			<script type="text/javascript" src="js/easing.js"></script>
			<script type="text/javascript">
				jQuery(document).ready(function($) {
					$(".scroll").click(function(event){		
						event.preventDefault();
						$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
					});
				});
			</script>
		<!-- start-smoth-scrolling -->
	
		<!-- for-bottom-to-top smooth scrolling -->
			<script type="text/javascript">
				$(document).ready(function() {
			
					var defaults = {
					containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
					};
											
				$().UItoTop({ easingType: 'easeOutQuart' });
				});
			</script>
		
		<!-- //for-bottom-to-top smooth scrolling -->


</body>
</html> 