<div class="eman">
<br><br><br>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto menu-list">
                            <li class="nav-item active">
                            <a class="nav-link"  href="/simple_pages/index">Home </a>
                            </li>
              
              <li><a href="/simple_pages/contact" >Contact</a></li>
              <li><a href="/users">Users</a></li>
              
    </ul>

  </div>
</nav>
<div class="login">
  <h2 class="login-header">Log in</h2>
    <div class="login-container">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
      <%= render "devise/shared/links" %>
    <% end %>


  </div>

</div>
<br><br><br><br><br><br><br><br>
</div>
