<!DOCTYPE html>
<html>
  <head>
    <title>Kidsapp</title>
   <link rel="stylesheet" href="/assets/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Itim">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Della Respira">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spirax">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="/assets/bootstrap.min.js"></script>


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  </head>

  <body>
      <% if notice %>
      <div id="notice" class="alert alert-success"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div id="alert" class="alert alert-danger"><%= alert %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
